# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
*.pot
*.pyc

# Environment variables
.env
.env.local
.env.*.local

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Coverage reports
.coverage
htmlcov/
.coverage.*
nosetests.xml
test_*.xml
coverage.xml
*.cover

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store

# Windows
Thumbs.db
/static/admin/
