{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
    <link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Document</title>
</head>
<body>
<div id="app">
{% include 'components/topnavbar.html' %}
{% include 'components/aside.html' %}
{% include 'components/messages.html' %}
<section class="section main-section">
    {% include 'components/total.html' %}
</section>

{% block content %}{% endblock %}

<div id="sample-modal-2" class="modal">
  <div class="modal-background --jb-modal-close"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Sample modal</p>
    </header>
    <section class="modal-card-body">
      <p>Lorem ipsum dolor sit amet <b>adipiscing elit</b></p>
      <p>This is sample modal</p>
    </section>
    <footer class="modal-card-foot">
      <button class="button --jb-modal-close">Cancel</button>
      <button class="button blue --jb-modal-close">Confirm</button>
    </footer>
  </div>
</div>

</div>

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>