{% if messages %}
<section class="section main-section">
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <div class="notification blue">
                  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                    <div>
                      <span class="icon"><i class="mdi mdi-buffer"></i></span>
                      <b>{{ message }}</b>
                    </div>
                    <button type="button" class="button small textual --jb-notification-dismiss">Закрыть</button>
                  </div>
                </div>
            {% elif message.tags == 'error' %}
                <div class="notification red">
                  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                    <div>
                      <span class="icon"><i class="mdi mdi-buffer"></i></span>
                       <b>{{ message }}</b>
                    </div>
                    <button type="button" class="button small textual --jb-notification-dismiss">Закрыть</button>
                  </div>
                </div>
            {% elif message.tags == 'success' %}
                <div class="notification green">
                  <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0">
                    <div>
                      <span class="icon"><i class="mdi mdi-buffer"></i></span>
                       <b>{{ message }}</b>
                    </div>
                    <button type="button" class="button small textual --jb-notification-dismiss">Закрыть</button>
                  </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}