<div class="grid gap-6 grid-cols-1 md:grid-cols-4 mb-6">
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Сумма балансов -
              </h3>
              <h1>
                -5000 ₽
              </h1>
            </div>
            <span class="icon widget-icon text-red-500"><i class="mdi mdi-minus-box-outline mdi-48px"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Сумма балансов +
              </h3>
              <h1>
                +5000 ₽
              </h1>
            </div>
            <span class="icon widget-icon text-green-500"><i class="mdi mdi-plus-box-outline mdi-48px"></i></span>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Сумма процентов
              </h3>
              <h1>
                5000 ₽
              </h1>
            </div>
            <span class="icon widget-icon text-blue-500"><i class="mdi mdi-percent-box-outline mdi-48px"></i></span>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="flex items-center justify-between">
            <div class="widget-label">
              <h3>
                Сальдо
              </h3>
              <h1>
                5000 ₽
              </h1>
            </div>
            <span class="icon widget-icon text-red-500"><i class="mdi mdi-finance mdi-48px"></i></span>
          </div>
        </div>
      </div>
    </div>